@{
    var brandList = ViewBag.brandList;
    var categoryList = ViewBag.categoryList;
}


@foreach (var item in brandList)
{
    <li>
        <a href="~/Home/Brand?brandName=@item.Name">@item.Name</a>
    </li>
}
@foreach (var item in categoryList)
{
    <li>
        <a href="#">@item.Name</a>
    </li>
}
